.topWhitespace {
    height:100px;
    width:auto;
}
.intro {
    
    font-family:Copperplate, Papyrus, fantasy;
    font-size:30px;
    color:#29214A;
    margin-left:60px;
    line-height:0;
    height:0px;
    
}


.name {
    
    padding: 0px 0px;
    margin-left: 60px;
    
    
    color:#29214A;
    font-family:Copperplate, Papyrus, fantasy;
    text-transform: uppercase;
    font-size:50px;
    line-height:5px;
    font-style:italic;
}

.highlight {
    color:white;
}

#introtoweb {
    font-family: Helvetica, sans-serif;
    color:#6B5227;
    width:250px;
}

body {
    background-color:#EDB759;
}