
.intro {
    
    font-family: Oswald, sans-serif;
    font-size:25px;
    color:#29214A;
    margin-left:0px;
    margin-bottom:15px;
    
    height:0px;
    position:relative;
    bottom:120px;
}
.titlefont {
    margin-top:10px;
    font-size: 110px;
    line-height:70px;
    bottom: 30px;
}

.name {
    
    padding: 0px 0px;
    margin-left: 0px;
    
    
    color:#29214A;
    font-family:Copperplate, Papyrus, fantasy;
    text-transform: uppercase;
    font-size:500px;
    line-height:10px;
    font-style:italic;
    display:inline-block;
    position:relative;
    bottom: 100px;
    text-align:center;
}

.highlight {
    color:white;
}

#introtoweb {
    font-family: Oswald, sans-serif;
    color:#6B5227;
    
    font-size: 40px;
    display:inline-block;
    
    padding-right:0px;
    position:relative;
    
    line-height: px;
    z-index: 2;
    bottom:0px;

}
#circledup {
    background-color: #44669D;
    height:500px;
    width:400px;
    border-bottom-left-radius: 25%;
    border-top-left-radius: 10px;
    transform: rotate(25deg);
    display:inline-block;
    z-index: 1;
    position:relative;
    bottom:400px;
    left: 550px;
    float:right;
}
 #circle {
    background-color: #3A9A82;
    height:500px;
    width:400px;
    border-bottom-left-radius: 25%;
    border-top-left-radius: 10px;
    transform: rotate(25deg);
    display:inline-block;
    z-index: 2;
    position:relative;
    bottom:400px;
    left: 190px;
    float:right;
} 
#circle2 {
    background-color: #44669D;
    height:300px;
    width:300px;
    border-radius: 100%;
    display:inline-block;
    z-index: 1;
    position:relative;
    bottom:150px;
    right: 50px;
    border-bottom-left-radius: 10px;
    transform:rotate(10deg)
    
}
/* #circle3 {
    background-color: #3A9A82;
    height:300px;
    width:300px;
    border-radius: 100%;
    display:inline-block;
    z-index: 1;
    position:relative;
    bottom:250px;
    left: 100px;
    float:right;
} */

#topsection {
    padding-bottom:50px;
}

h2 {
    color:#29214A;
    font-family:Copperplate, Papyrus, fantasy;
    text-transform: uppercase;
    font-size:50px;
    line-height:10px;
    margin-left:0px;
}
.defaultText {
    font-family: "Inter",-apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif;
    font-size: 25px;
    margin-left:0px;
    width: 50%;
}
#dashedline1 {
    transform: rotate(16deg);
    height: 300px;
    width:350px;
    position:relative;
    padding-top:0px;
    margin:auto;
    bottom:150px;
}

.design1 {
    position:relative;
    width: 400px;
    bottom: 200px;
    right: -80px;
    float:right;
}


body {
    background-color:#EDB759;
}