
.intro {
    
    font-family: Oswald, sans-serif;
    font-size:25px;
    color:#29214A;
    margin-left:0px;
    margin-bottom:15px;
    
    height:0px;
    position:relative;
    bottom:120px;
}
.titlefont {
    margin-top:10px;
    font-size: 110px;
    line-height:70px;
    bottom: 30px;
    
}

.name {
    
    padding: 0px 0px;
    margin-left: 0px;
    
    
    color:#29214A;
    font-family:Copperplate, Papyrus, fantasy;
    text-transform: uppercase;
    font-size:500px;
    line-height:10px;
    font-style:italic;
    display:inline-block;
    position:relative;
    bottom: 100px;
    text-align:center;
}

.highlight {
    color:white;
}

#introtoweb {
    font-family: Oswald, sans-serif;
    color:#305A4F;
    
    font-size: 40px;
    display:inline-block;
    
    padding-right:0px;
    position:relative;
    margin-left:50px;
    line-height: px;
    z-index: 2;
    bottom:0px;

}
#circledup {
    background-color: #44669D;
    height:500px;
    width:400px;
    border-bottom-left-radius: 25%;
    border-top-left-radius: 10px;
    transform: rotate(25deg);
    display:inline-block;
    z-index: 1;
    position:relative;
    bottom:400px;
    left: 550px;
    float:right;
}
 #circle {
    background-color: #3A9A82;
    height:300px;
    width:350px;
    border-bottom-left-radius: 30%;
    border-top-left-radius: 100%;
    border-top-right-radius: 30%;
    position:absolute;
    bottom:0;
    right:0;
    display:inline-block;
    
    
} 
#circle2 {
    background-color: #44669D;
    height:300px;
    width:300px;
    border-radius: 100%;
    display:inline-block;
    z-index: 1;
    position:relative;
    bottom:150px;
    right: 50px;
    border-bottom-left-radius: 10px;
    transform:rotate(10deg)
    
}
#circle3 {
    background-color: #0E2F64;
    height:330px;
    width:380px;
    border-bottom-left-radius: 30%;
    border-top-left-radius: 100%;
    border-top-right-radius:30%;
    position:absolute;
    bottom:0;
    right:0px;
    display:inline-block;
    
    
} 



h2 {
    color:#29214A;
    font-family:Copperplate, Papyrus, fantasy;
    text-transform: uppercase;
    font-size:50px;
    line-height:10px;
    margin-bottom:15px;
    margin-left:0px;
}
.defaultText {
    font-family: "Inter",-apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif;
    font-size: 25px;
    margin-left:0px;
    
}
#dashedline1 {
    transform: rotate(16deg);
    height: 300px;
    width:350px;
    position:relative;
    padding-top:0px;
    margin:auto;
    bottom:150px;
}

.design1 {
    position:relative;
    width: 400px;
    bottom: 200px;
    right: -80px;
    float:right;
}

.likNdis {
    position:relative;
    top: 125px;
    left: 20px;
}
.catPhotos {
    width:300px;
    height:300px;
    display:inline-block;
    padding:10px;
    position:absolute;
    align-items: center;
    
}
.catbg {
    background-color:#7A8FB1 ;
    height: 300px;
    width: 330px;
    margin: auto;
    border-radius:10px;
    
}
.aboutmecontainer {

    background-color: #C0DED6;
    padding: 60px;
    border-radius: 50px;
}
.containerUPP {

    position:relative; 
    bottom: 150px;
}

.talentSections {
    
    text-align:center;
    margin: 10px;
    padding: 30px;
}
.codingTag {
    background-color: #7A8FB1;
    padding: 5px 15px;
    border-radius: 10px;
}
.backgroundChange {
    
    
    background-color: white; 
    padding: 120px 100px; 
    width: 100%; 
    margin: 0;
}
.backgroundChange2 {
    
    
    background-color: #7A8FB1; 
    padding: 120px 100px; 
    width: 100%; 
    margin: 0;
}
body {
    background-color:#C0DED6;
}


h3 {
    background-color: white;
    color:#29214A;
    text-align: center;
}